
<div class="main">
 <div class="header">
    <app-header> </app-header>
  </div>
  <div class="content">
      <div class="video-box-column">
        <div class="video-box-holder">
          <app-web-cam></app-web-cam>
        </div>
        <div class="options-holder">
          <div class="subtitle-holder">
              <fa-icon  icon="gear" class="fa-1x"> </fa-icon>
              Option
          </div>
        </div>
    </div>
    <div class="person-manager-column">
      <div class="subtitle-holder">
        <fa-icon  icon="users" class="fa-1x"> </fa-icon>
        Manage People
      </div>
      <app-person-manager></app-person-manager>
  </div>
</div>
